<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <%- include('../template/head') %>
</head>

<body>
    <header>
        <%- include('../template/header') %>
    </header>
    <div class="signup-form-container">
        <div class="signup-container">

            <h1 class="signup-title">
                Change Password
            </h1>
            <div class="form">
                <form class="signup-form" action="/forget_password" method="POST">

                    <label for="email">Enter Registered Email</label>

                    <input class="signup-input" type="text" id="email" name="email"
                        <%- (data) &&  `value=${data.email}` %>>
                    <%if (error !== null) { %>
                    <div class="email" style="color: red;"><%= error.response.email %></div>
                    <% } %>
                    <button class="signup-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="signup-img">

        </div>
    </div>

    <footer>
        <%- include('../template/footer') %>
    </footer>
</body>