<!doctype html>
<html lang="en">

<!-- @olanetsoft -->
<%- include('../template/head') %>
<!-- @olanetsoft -->

<body>
    <!-- @olanetsoft -->
    <header>
        <%- include('../template/header') %>
    </header>
    <!-- @olanetsoft -->

    <div class="login-form-container">
        <div class="login-container">

            <h1 class="login-title">
                Welcome ! 
            </h1>
            <div class="google-login-btn">
                <img class="login-icon"
                    src="https://res.cloudinary.com/oluwatobiloba/image/upload/v1591804664/incredible%20project/giigke_t85qnf.png" />
                <button class="google-btn">
                    <a href='/googleauth'>
                        Login with Google
                    </a>
                </button>
            </div>
            <div class="or">
                <hr />
                <span>OR</span>
                <hr />
            </div>
            <div class="form">
                 <%if (successMsg !== null) { %>
                    <div style="color: green;"><%= successMsg %></div>
                    <% } %>
                <form class="login-form" action="/login" method="POST">
                    <%if (error && typeof error.response === 'string') { %>
                        <div style="color: red;"><%= error.response %></div>
                    <% } %>
                    <label for="email">Email</label>
                    <%if (error !== null) { %>
                        <div style="color: red;"><%= error.response.email %></div>
                    <% } %>
                    <input class="login-input" type="email" id="email" name="email" />
                    <label for="password">Password</label>
                    <%if (error !== null) { %>
                         <div style="color: red;"><%= error.response.password %></div>
                    <% } %>
                    <input class="login-input" type="password" id="password" name="password" />
                    <a class="form-link" href="/register">Forgot Password?</a>
                    <br>
                    <button class="login-btn" type="submit">Login</button>
                    <p class="form-link">Don't have an account? <a class="form-link" href="/register">Click to
                            Register</a></p>
                </form>
            </div>
        </div>
        <!-- @olanetsoft -->
        <div class="login-img">

        </div>
    </div>

    <!-- @olanetsoft -->
    <%- include('../template/footer') %>
    <!-- @olanetsoft -->
</body>

</html>